@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0) rotate(2deg);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0) rotate(-3deg);
  }
  40%,
  60% {
    transform: translate3d(3px, 0, 0) rotate(3deg);
  }
}
.ab {
  animation: shake 1s;
}
.ab1:hover {
  animation: shake 1s;
}
.ab:hover {
  animation: shake 1s;
}
.layer {
  transition: 5s;
}
